*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    background-color: rgb(59, 114, 162);
}

.navbar{
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    display: flex;
    /* height: 100px; */    
}

.searchbarIcon{
    border-radius: 20px;
    width: 40%;
    height: 40px;
    padding: 10px;
    border: 2px solid whitesmoke;
    justify-content: center;
    /* margin: auto; */
    line-height: 44px;
        
}
.logo{
    /* height: 100%; */
    width: 100px;
}
.p-logo{
    width: 50px;
}

.cart-logo{
    width: 80px;
}

.span-cart{
    border-radius: 10px;
    /* text-align: center; */
}
span ul{
    float:left;
}
span ul li{
    list-style-type: none;
    
}
span ul li a{
    color: white;
    text-decoration: none;
}

.menus{
    background-color: black;
    height: 50px;
    padding: 10px;
    text-align: center;
}


.menus ul li{
    color: white;
    text-decoration: none;
    display: inline;
    margin-right: 30px;
    
}

.menus ul li a{
    text-decoration: none;
    color: rgb(59, 114, 162);
}

.sellers-sec{
    padding: 15px!important;
    display: block;
    padding: 10px;
    width: 40%;
    margin: auto;
    border: 1px solid rgb(59, 114, 162);
    /* background-color: red; */
}
.welcome{
    border-bottom: 1px solid #1d5484;
    width: 100%;
}


.homeProducts h5{
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 5px;
    /* background-color: red; */
}

.products-lists{
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 10px;
}

.sellers-products h5{
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 5px;
    
}
.sellers-products{
    /* background-color: blue!important; */
    height: 60vh!important;
}

.foot{
    background-color: rgb(59, 114, 162);
    height: auto;
    padding: 50px;
    justify-content: space-between;
}
footer h4{
    /* text-align: left; */
    color: white;
}
.secdiv1 ul li{
    text-decoration: none;
    text-align: left;
    color: white;
    list-style: none;
}

footer li{
    color: white;
    list-style: none;
}

.register{
    margin: auto;
    /* margin-top: 20px; */
    margin-bottom: 5px;
    /* margin: 20px 0px 20px 0px; */
    height: 90vh!important  ;
    align-items: center;
    /* text-align: center; */
    width: 40vw;
    padding: 20px 40px 0px 40px;
    border: 1px solid rgb(59, 114, 162);
    border-radius: 20px;
    /* background-color: rgb(59, 114, 162); */
}

.registerBckgrd{
    animation: color-change 1s infinite;
}
@keyframes color-change{
    0%{
        background-color: #3b72a2
    }
    25%{
        background-color:  #316898
    }
    50%{
        background-color:#275e8e
    }
    75%{
        background-color:#1d5484
    }
    100%{
        background-color:#134a7a
    }
}

@media (max-width:768px){
    .mobile-none{
        display: none;
    }
    .menus ul{
        display: none;
    }

    .foot{
        /* display: block !important; */
        align-items: center;
        
    }
    .secdiv1 .secdiv2 .secdiv3{
        margin: auto;
    }
    
}


